@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "react-dropdown/style.css";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
.top-progress {
	animation: loading 2s ease-in-out;
	width: 90%;
}

@layer utilities {
	@media (min-width: 1536px) {
		.container {
			max-width: 1320px;
		}
	}
	.h-600 {
		height: 600px;
	}
	.text-black {
		color: #000000;
	}
	.primary-bg {
		background: var(--primary-color);
	}
	.hover-bg {
		background: #f0f0f0;
	}
	.secondary-bg {
		background: #ffffff;
	}

	.text-secondary {
		color: rgba(0, 0, 0, 0.25);
	}
	.text-primary {
		color: var(--primary-color);
	}
}
@keyframes loading {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}
@media (min-width: 1440px) {
	.container {
		max-width: 1169px;
	}
}

.required-label {
	&::after {
		content: "*";
		font-size: 16px;
		line-height: 10px;
		color: red;
		vertical-align: middle;
		padding-left: 5px;
	}
}
.error-text {
	position: absolute;
	color: red;
	font-size: 12px;
	text-align: left;
}
.react-datepicker__input-container {
	height: 100%;
	input {
		width: 100%;
		height: 100%;
		background: #f1f3f5;
		//border-radius: 8px 0px 0px 8px;
		border: none;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
}
* {
	&::selection {
		background: #DE221A;
		color: #ffffff;
	}
	&::-moz-selection {
		background: #DE221A;
		color: #ffffff;
	}
	//&::-webkit-selection {
	//	background:#FA5252;
	//	color:#FFFFFF;
	//}
}
.slick-dots li.slick-active button:before {
	color: #ff1818;
	font-size: 12px;
	opacity: 1;
}
.slick-dots li button:before {
	color: #f2f3f3;
	font-size: 12px;
	opacity: 1;
}
.slick-dots {
	bottom: -35px;
}
 .image-gallery-right-nav {
	background: #DE221A !important;
}
.image-gallery-left-nav {
	background: #DE221A !important;
}
.bg-cover{
	background: #0000003b;
}
@media screen and (min-width: 1440px){
	.container{
		max-width: 1198px!important;
	}
}
.bg-gradient-gray{
	background: linear-gradient(0deg, rgba(20, 33, 65, 0.06), rgba(20, 33, 65, 0.06)), #FFFFFF;

}
.bg-gray{
	background-color: #C3C7CC;
}
.text-primary{
	color: #DE221A;
}
.text-normal{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #18202A;
}
.text-white{
	color: #FFFFFF;
}
.link-download{
	&:hover{
		color: #DE221A;
	}
}